@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --blue-primary: #267EAD;
  --text-primary: #3f3e50;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-blue-primary: var(--blue-primary);
  --color-text-primary: var(--text-primary);
  --font-sans: var(--font-roboto);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
}
